{include file="header"}    <!--引入头部文件-->

{include file="left"}       <!-- 引入左侧导航栏文件-->
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span> 权限分类管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="Hui-article">
        <article class="cl pd-20">
            <div class="text-c">
                <div class="Huiform" method="post" action="" target="_self">
        <a href="javascript:;"  onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
                    <input type="text" class="input-text" style="width:250px" placeholder="权限分类名称" id="name" >
                    <select  id="cateid">
                        {volist name="cate" id="vo"}
                        <option value="{$vo.id}">{$vo.name}</option>
                        {/volist}
                    </select>
                    <input type="hidden" id="__token__" name="__token__" value="{$Request.token}" />
                    <button type="submit" class="btn btn-success" id="aaa" name=""><i class="Hui-iconfont">&#xe600;</i> 添加权限分类</button>
                    <span id="tips"></span>
                </div>
            </div>

            <table class="table table-border table-bordered table-bg">
                <thead>
                <tr>
                    <th scope="col" colspan="7">权限节点</th>
                </tr>
                <tr class="text-c">
                    <th width="25"><input type="checkbox" id="a" value=""></th>
                    <th width="40">ID</th>
                    <th width="200">权限分类名称</th>
                    <th width="200">分类名称</th>
                    <th width="100">操作</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </article>
    </div>
</section>

{include file="foot"}       <!--引入底部导航栏文件-->
<script>
    $(document).ready(function(){
        show();

        $("#aaa").click(function(){                      //添加
            var __token__=$("#__token__").val();
            var name=$("#name").val();
            var cateid=$("#cateid").val();
            $.ajax({
                                            //ajax post传值
                url:"{:url('add')}",
                data:{
                    type:'post',
                    name:name,
                    cateid:cateid,
                    __token__:__token__,
                    html_type:'json',
                },
                dataType:"json",
                success:function (res) {
                    if(res.status=="yes"){
                        $("#tips").html(res.message);   //输出提示字样
                        $("#tips").css("color","blue");  //字体颜色
                        setTimeout(function(){          //3秒后消失
                            $("#tips").html("");
                        },3000);
                        $("#name").val("");          //文本框置空
                        show();                      //刷新页面
                    }else if(res.status=="no"){
                        $("#tips").html(res.message);
                        $("#tips").css("color","red");
                        $("#name").val("");
                        setTimeout(function(){
                            $("#tips").html("");
                        },3000);
                    }
                    token();

                }
            })

        });

    });

    function show(){                       //展示
        $.ajax({
                                      //ajax post传值
            url:"{:url('showa')}",
            data:{
                type:'post',
                html_type:'json',
            },
            dataType:"json",
            success:function (res) {
                if (res.status=="error"){
                    alert(res.message)
                }else{
                    var status=res.status;
                    var message=res.message;
                    var tr='';
                    if (status=='ok') {
                        for (var i=0; i < message.length; i++){
                            tr=tr+"<tr class='text-c'><td><input  type='checkbox' class='ck'  value='"+message[i].id+"'></td><td>"+message[i].id+"</td><td class='text-l' fd='"+message[i].id+"' oldname='"+message[i].name+"'><span class='sp'>"+message[i].name+"</span></td><td>"+message[i].pc_name+"</td><td class='f-14 product-brand-manage'><a style='text-decoration:none'   title='编辑'><i class='Hui-iconfont'>&#xe6df;</i></a><a   style='text-decoration:none' onclick='del("+message[i].id+")' class='ml-5'  title='删除'><i class='Hui-iconfont'>&#xe6e2;</i></a></td></tr>"
                        }
                        $(".table tbody").html(tr);
                    }
                }
            }
        })
    }
    //当标签是jq事件触发后产生的 $(document).on('click','.sp',function(){ 使用这个事件
    //dblclick  鼠标双击事件
    $(document).on('dblclick','.sp',function(){    //当span标签被点击是触发
        var txt=$(this).text();                   //获取span标签里的 值
        $(this).parent().html("<input class='as' type='text' value='"+txt+"' class='as'>");
        $(".as").focus();  //给到input框的焦点

    });
    //极点及改 当鼠标移出事件
    $(document).on('blur','.as',function(){            //修改
        var val = $(this).val();              //当鼠标移出获取文本框里的值
        var id =$(this).parents('td').attr('fd');//当鼠标移出获取文本框里的ID
        //attr 是返回被选中的属性值
        var oldname =$(this).parents('td').attr('oldname');
        var __token__=$("#__token__").val();
        var obj=$(this);
        $.ajax({
            type: "post",
            url: "{:url('upd')}",
            data: {
                type:'post',
                name:val,
                id:id,
                __token__:__token__,
            },
            dataType:"json",
            success: function(msg){
               if (msg.status=="yes"){
                   obj.parent().html("<span class='sp'>"+val+"</span>");
               } else if(msg.status=="no"){
                   obj.parent().html("<span class='sp'>"+oldname+"</span>");
               }
               token();
            }
        });
    });
    function del(del_id) {                    //单删
        $.ajax({
            type:'post',
            url:"del",
            data:{
                del_id:del_id,
            },
            dataType:"json",
            success:function(res) {
                if (res.status=="ok") {
                   show();
                }
            }
        })
    }
     function datadel(){                 //批量删除
         var a = $('.ck:checked');  //获取被选中的文本框里的内容
         var id = "";
         for (var i = 0; i < a.length; i++) {  //循环获取被选中的文本框中的id
             id = id + "," + a[i].value;
         }
         $.ajax({
             url:"{:url('datadel')}",
             data:{
                 type:"post",
                 id:id,
             },
             dataType:"json",
             success:function(res){
                 if(res.status=="yes"){
                     $('#a').prop('checked',false);
                     show();
                 }else if(res.status=="no"){
                     $("#tips").html(res.message);
                     $("#tips").css("color","red");
                     setTimeout(function(){
                         $("#tips").html("");
                     },3000);
                 }
             }

         })
     }

    //全选 和全不选
    $(document).on('click','#a',function(){
        if($(this).is(":checked")){
            $('.ck').prop('checked',true);
        }else{
            $('.ck').prop('checked',false);
        }
    })

    function token() {          //写了一个专门执行token自动生成的方法
        $.ajax({
            url:"{:url('Common/commonToken')}",
            dataType:"json",                        //设置接值格式为json
            success:function (res) {
                var __token__=$("#__token__").val(res.token);
            }
        })
    }


</script>